.header {
    background-color: grey
}

.padding {
    padding: 35px
}

.padding-count {
    padding: 5px
}

.b-g {
    background: url(../images/bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

.opacity {
    background-color: rgba(255, 255, 255, 0.8)
}

ul.link-items li {
    display: inline-block;
    margin: 1em 2em;
}

ul.links {
    background: none !important;
    box-shadow: none !important;
    padding: 0;
    margin: 0;
    letter-spacing: -.8rem;
}

ul.links li {
    list-style: none;
    display: inline-block;
    width: 31.333%;
    margin: 1%;
    letter-spacing: 0;
    text-align: center;
    position: relative;
    transition: .3s;
}

ul.links li {
    background: rgba(255, 255, 255, .01);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1) inset;
    height: auto;
}

ul.links li:hover {
    transform: translate(0, -5px);
    background: none;
}

ul.links li:before,
ul.links li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, .6);
    z-index: -1;
    transition: .6s;
}

ul.links li:hover:before,
ul.links li:hover:after {
    height: 100%;
}

ul.links li:hover:before {
    left: 100%;
}

ul.links li:hover:after {
    right: 100%;
}

ul.links li a {
    display: block;
    padding: 12px 5px;
    height: 100%;
    text-decoration: none;
    color: black;
    position: relative;
}

ul.links li div {
    display: block;
    padding: 12px 5px;
    height: 100%;
    text-decoration: none;
    color: black;
    position: relative;
}

ul.links li .bg {
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    filter: blur(20px) brightness(110%) saturate(200%) contrast(120%);
    z-index: -2;
    opacity: 0;
    transition: .6s;
}

ul.links li:hover .bg {
    opacity: .32
}

.searchbg {
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    filter: blur(20px) brightness(110%) saturate(200%) contrast(120%);
    z-index: -1;
    transition: .6s;
}

.searchbg a {
    display: block;
    padding: 12px 5px;
    height: 100%;
    text-decoration: none;
    color: black;
    position: relative;
}